.msg {
    padding: 0.2rem 12px;
    line-height: 1.5;
    position: relative;
    max-width: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
}


.compact {
    line-height: 1.25 !important;
}

.msg:nth-child(odd) {
    background-color: light-dark(#e2e2e2, rgb(30, 30, 30));
}

.msg.deleted {
    opacity: 0.3;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #ff3afc;
}

.msg.first {
    background-color: light-dark(#a9d4ba, #375442);


    .firstBadge {
        font-size: 10px;
        position: absolute;
        color: light-dark(rgb(0, 53, 0), rgb(100, 255, 131));
        margin-left: 0%;
        right: 10px;
        top: -4px;
    }
}

.highlight_name {
    background-color: light-dark(#d4007c, #ffb9ff);
    color: light-dark(#e9e9e9, #161f16);
    padding: 2px 4px;
    border-radius: 4px;
}

.msg.highlight {
    background-color: light-dark(#9d9cbc, #383754);
    .highlightBadge {
        font-size: 10px;
        position: absolute;
        color: #3273dbb0;
        margin-left: 0%;
        right: 10px;
        top: -4px;
    }
}

.channel {
    margin-right: 0.2rem;
}

.channel img {
    height: 1.25em;
    vertical-align: middle;
    border-radius: 50%;
}

.badges {
    line-height: 1rem;
    margin-right: 0.2rem;
}

.badges img {
    vertical-align: middle;
    margin: 0px 2px;
    height: 1.25em;
 }

.text img {
   vertical-align: bottom;
   max-height: 1.25em;
}

.username {
    font-weight: bold;
}

.actions {
    display: none;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--mantine-color-dark-6);
    padding: 4px;
    border-radius: 4px;
    z-index: 1;
}

.msg:hover .actions {
    display: flex;
}

.hideReply .actions {
    display: none !important;
}


/* RadialDial positioning */
.radialContainer {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
}

.radialContainer > * {
    pointer-events: auto;
}

.time {
    display: inline-block;
    width: 3em;
    text-align: center;
}

.power_ups_gigantified_emote .text img {
    display: block !important;
    height: 6rem !important;
    margin: 0.2rem !important;
}
