.msg {
    padding: 6px;
    background-color: light-dark(#ffd195, #480356);
    text-align: center;

    max-width: 100vw;
    width: 100vw;
    word-wrap: break-word;
    overflow: hidden;

    >.action {
        max-width: 100vw;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    img {
        height: 24px;
        vertical-align: bottom;
    }

    .logo img {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 6px;
        vertical-align: bottom;
    }
}