.msg {
    padding: 6px;
    background-color: #480356;
    display: flex;
    justify-content: center;

    img {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 6px;
        vertical-align: bottom;
    }
}