.profile {
    margin: 8px;
    &:hover {
        background-color: light-dark(var(--mantine-color-cyan-5), var(--mantine-color-orange-6));
        cursor: pointer;
    }
    &.active {
        background-color: light-dark(var(--mantine-color-cyan-2), var(--mantine-color-orange-9));
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: var(--mantine-color-body);
}

.profileBar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}