.profile {
    margin: 8px;
    &:hover {
        background-color: #DB32BC;
        cursor: pointer;
    }
    &.active {
        background-color: #ff1493;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: var(--mantine-color-body);
}

.profileBar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}