
.navbar {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.header {
    height: 36px;
    padding: 0 18px;
    border-bottom: 1px solid var(--mantine-color-default-border);
}

nav {
    background-color: light-dark(#fef5fe, #030103);
}