
.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.header {
    background-color: var(--mantine-color-body);
}

nav {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}