.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -60px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.userDetails h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.userInfo p {
  margin: 0;
}

.userInfo {
  padding: 1rem;
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.username {
  margin: 0;
  color: var(--mantine-color-dimmed);
  font-size: 0.9rem;
}

.createdAt {
  margin: 0;
  color: var(--mantine-color-dimmed);
  font-size: 0.9rem;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.banMessage {
  color: var(--mantine-color-red-6);
  font-size: 0.85rem;
  margin-top: 4px;
  font-style: italic;
  text-align: center;
}

.actions {
  padding: 1rem;
  border-top: 1px solid var(--mantine-color-dark-4);
  display: flex;
  gap: 1rem;

  button {
    width: 400px;
  }
}
