.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.logosmall {
    width: 100%;
    max-width: 80px;
}

.logo {
    width: 100%;
    max-width: 250px;
}

.nofuture {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}
