
  .inner {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  
    [data-mantine-color-scheme] &[data-active] {
      background-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-white);
    }
  }

  .rightGroup {
    display: flex;

    span {
        padding: 0 10px;
    }
  }

  .logo {
    display: flex;

    h3 {
        margin: 4px 0 0 10px;
    }
  }

  .title {
    margin-top: 16px;
  }